[2019-03-24 02:27] rubberbird opened #1 "No Such Method Error"
HI, Getting this when I am trying out a basic auth.

**[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: NoSuchMethodError: The method '*' was called on null.
Receiver: null
Tried calling: *(1000)
#0      Object.noSuchMethod (dart:core/runtime/libobject_patch.dart:50:5)
#1      new DateTime.fromMillisecondsSinceEpoch (dart:core/runtime/libdate_patch.dart:39:36)
#2      _Strava&Object&Upload&A

[2019-03-24 03:34] rubberbird commented on #1
Create a pull request for these fixes [here](https://github.com/BirdyF/strava_flutter/pull/2)

[2019-03-24 15:09] BirdyF commented on #1
Thanks for contributing!
I will do more tests on to check if I still need to check "null" in addition to null.
Because I think that in some cases, I store "null" in the stored Token.
Let me know if you need additional Strava AP, I can add it.

[2019-03-24 15:09] #1 closed

[2019-03-26 05:01] rubberbird opened #3 "401 and Problem in deAuth request"
Is this working for you? I can authenticate but getting 401 for all API functions. Also when I try a de-auth I get an error.

flutter: --> Strava_flutter: Problem in deAuthorize request
flutter: --> Strava_flutter: Problem in deAuthorize request

[2019-03-26 10:54] BirdyF commented on #3
I published a new build (20).
- Fix problem (thanks!) in deAuthorize and oauth (was not calling newAuthorization but refreshToken)

But now even when DeAuthorize is successful (200 and access token), it is not possible to change the user, only the Strava screen showing the scope appears, not the one to enter username and psw.
I can see that the app has been removed/revoked (in settings/my apps on

[2019-03-26 11:43] BirdyF commented on #3
I suspect it is related to the cache of the webView used to show Strava screens

[2019-04-01 07:10] BirdyF commented on #3
I checked with Strava. It is the normal behavior. When running deAuthorize you can change the scope but you can NOT change the user.

To be able to change user, you have to desinstall the app and reinstall it.
I asked in the below issue on Flutter if it is possible to get an option in launch function (url_launcher).
[https://github.com/flutter/flutter/issues/29976](url)

[2019-04-01 07:10] #3 closed

[2019-04-02 19:02] rubberbird commented on #3
Thanks for checking.

[2019-04-03 08:21] BirdyF opened #4 "starSegment not working. Wait for Strava to fix it"
starSegment is not working for the moment.
Response sent by strava.com is
{"resource"=>"AccessToken", "field"=>"write_permission", "code"=>"missing"} even with the right scope  'profile:write'.
Strava API support explained that this is a problem on their side.
Strava ticket: request (1724)

[2019-04-09 09:29] BirdyF commented on #4
Strava has fixed the problem on their side.
Now working

[2019-04-09 09:29] #4 closed

[2019-05-13 12:53] WolfMoestl opened #5 "Preference keys should not use generic names"
In the current Version 1.09 the Strava token information is stored as pereferencs using names like    'accessToken', 'expire', 'scope', 'refreshToken'.

These names are quite common ones, they can easily interfere with preferences of other libraraies or the ones of the application.

An easy way would of avoiding this would be to prefix the names with a library shortcut.
E.g.: 'strava_accessToken',

[2019-05-13 12:57] BirdyF commented on #5
Thanks for your feedback.
It is useful for me.

I will follow your advice and update the preference keys in the next few days.

[2019-05-14 12:14] BirdyF commented on #5
I pushed a new version (1.0.11+25) with added prefix "strava_" in preference keys.

[2019-05-14 12:14] #5 closed

[2019-07-17 06:04] BirdyF opened #6 "Update pubspec.yaml"
path_provider version

[2019-08-01 12:31] #6 closed

[2019-08-16 16:02] haslinger opened #8 "CLEARTEXT_NOT_PERMITTED in callback"
First off, a big thanks for creating strava_flutter! I think it's awesome, that you put the work in to create it.

I'am trying to use it in my app following the example as closely as possible.
Auth triggers the opening of Strava's auth page, that looks absolutely fine for my app:
<img src="https://user-images.githubusercontent.com/1116624/63180395-79812680-c04e-11e9-81f1-f57777f5e735.png" width=30

[2019-08-16 16:35] BirdyF commented on #8
Hi Stefan,

Good question!
Are you testing on Android 9 (API level 28)?
So far I have tested only on Android 8 (and lower) or iOS.
If you are testing on Android 9 maybe you can have a look at
[https://medium.com/@imstudio/android-8-cleartext-http-traffic-not-permitted-73c1c9e3b803](url)

Let me know if it helps you.

[2019-08-16 17:17] haslinger commented on #8
Thanks for the quick response, you're awesome!
Yes, I am testing on Android 9 and adding
[code]
fixes that, as the link you provided explained.

BUT ;-) there is a small issue, the Shoe distance raises an Error because it gives back a Double instead of an Int when calling ```strava.getLoggedInAthlete()```. So line 193 in detailedAthlete.dart should read  ```double distance;``` Do you want me to cr

[2019-08-16 17:17] #8 closed

[2019-08-16 17:52] BirdyF commented on #8
Glad to know it helped you.
I will add a note in readme later explaining what to do when using Android 9.

Regarding shoe distance error, thanks because I am using Strava only for bicycle.

[2019-10-26 05:17] rubberbird opened #13 "User Agent Disallowed"
Google sign in is throwing the "User agent disallowed" error. Any change we can update user agent and webView to support?

[2019-10-26 06:26] BirdyF commented on #13
Sorry I dont understand your question. Can you explain which function/API you are trying to call?

[2019-11-01 17:08] rubberbird commented on #13
This is the OAuth authorisation code flow. If you choose social sign in with Google, it fails with user agent disallowed.

[2019-11-01 17:43] BirdyF commented on #13
OK. I understand. I will do additional tests and will see what I can do.

[2019-11-01 20:01] rubberbird commented on #13
Thanks. It seems you can just use an allowed user agent string and pass it
into your webview browser.

On Sat, 2 Nov 2019, 06:43 Birdy 83, <notifications@github.com> wrote:

[2019-11-02 08:58] BirdyF commented on #13
I pushed a new release (build 35) that seems to work using Google to authenticate.
Need to do additional tests on iOS 13.
Let me know if it is fixing your problem

[2019-11-02 09:59] BirdyF commented on #13
Sorry I had to revert to previous code (in build 36) because the authentication screen (Strava) is not closing. I need to check carefully what can be done with url_launcher package used on oauth.dart

[2019-11-05 10:57] BirdyF commented on #13
Hi @rubberbird  I think that it is not currently possible on Android.
After some test I think (not 100% sure) that there is a bug when Strava Auth is called in a browser and not in a WebView.

When I do tests calling in a browser the Strava Auth, it is working and my app get the answer (token...) BUT  the browser screen does not get close.  So url_launcher (flutter side) is working.

I suspect tha

[2019-11-22 17:53] BirdyF commented on #13
Hi @rubberbird I have done additional tests. Using the same code I found the same problem doing Spotify authentication:
- Working well (going back from Auth screen) when using WebView
- Not going back from Auth screen when using local browser

So I suspect the problem is not coming from Strava but more probably from url_launcher.
I will continue to to search for a solution and will update.

[2019-11-25 08:53] maxgmer opened #17 "Calling Strava().oauth() throws exception."
When I call oauth(), url_launcher's launch() method throws exception:

E/MethodChannel#plugins.flutter.io/url_launcher( 5495): android.content.ActivityNotFoundException: Unable to find explicit activity class {com.mypackage.myapp/io.flutter.plugins.urllauncher.WebViewActivity}; have you declared this activity in your AndroidManifest.xml?

Tried to declare the necessary activity, didn't help. The s

[2019-11-25 09:16] BirdyF commented on #17
Hi @maxgmer,

I will look at it. Which Android version are you using?

[2019-11-25 09:55] maxgmer commented on #17
@BirdyF Thanks! I'm using Android 8.1

[2019-11-25 11:03] BirdyF commented on #17
I tested quickly on Android 9 using https://github.com/BirdyF/rw_tcx to test the package strava_flutter and I dont have the exception.
I will test later on Android 8 (dont have 8.1).
Could you check if you have the same problem when running rw_tcx example (only the strava auth at the beginning)?

[2019-11-25 14:28] maxgmer commented on #17
I resolved the issue, sorry for creating it there, it wasn't connected to the library at all. I just opened android module of the flutter project from Android Studio and Android Studio downloaded something while building the project, then I returned back to flutter project and everything worked xD

[2019-11-25 14:28] #17 closed

[2019-12-01 18:32] BirdyF commented on #13
Hi @rubberbird, There is hope!
I managed to get it working on Android. Now I need to refactor a bit and check if it is still working on iOS.

[2019-12-01 18:36] rubberbird commented on #13
Sounds good. Keep me posted. I also noticed something off with token renewal, but I think that might just be my code. Will let you know.

[2019-12-02 14:02] BirdyF commented on #13
I pushed a new version (1.1.0) fixing this problem. It should work on Android (tested on 8.0 and 9.0) but so far I have not been able to test it on iOS because I can not use iOS13 and I have problems on iOS12 to debug.
I will try again later.
Let me know if you have problems.

[2019-12-03 14:26] #13 closed

[2019-12-04 02:17] aplusbi opened #18 "Strava Authentication page not returning on Android 10"
When calling Strava.oauth() on android my app opens a browser and the page displays the following text:

{"message":"Bad Request","errors":[{"resource":"Application","field":"redirect_uri","code":"invalid"}]}

I have the strava app installed, and I added the intent-filter to my AndroidManifest.xml.

I'm running Android 10.

Thanks!

[2019-12-04 06:03] BirdyF commented on #18
Could you check that "Authorization Callback Domain" is set to "redirect" in your strava app settings https://www.strava.com/settings/api?

Can you show me your AndroidManifest.xml?

Thanks

[2019-12-04 20:28] aplusbi commented on #18
Hi Birdy, it looks like I forgot to set the Authorization Callback Domain on my strava settings. This has resolved the initial issue. However now after authorizing I have encountered two issues:

1) When the focus returns to my app, it returns to the initial route in my app, rather than the route that initiated the strava authorization.

2) The oauth call never finishes. After clicking "authorize"

[2019-12-04 20:48] BirdyF commented on #18
Hi @aplusbi

When running the example in strava flutter package do you have also problem #2?

[2019-12-04 21:29] aplusbi commented on #18
I get the same issue (#2) when running the example in the flutter package. Here is the debug output:

I/flutter (30579): --> Strava_flutter: Welcome to Oauth
I/flutter (30579): --> Strava_flutter: Entering getStoredToken
I/flutter (30579): --> Strava_flutter:  current time in ms 1575494795.696   exp. time: null
I/flutter (30579): --> Strava_flutter: is token expired? false
I/flutter (30579): --> S

[2019-12-05 07:58] BirdyF commented on #18
Here is what I get when running on Android 9 (real device) and pushing the "strava_flutter" button

I/flutter (16281): --> Strava_flutter: Welcome to Oauth
I/flutter (16281): --> Strava_flutter: Entering getStoredToken
I/flutter (16281): --> Strava_flutter:  current time in ms 1575532235.722   exp. time: null
I/flutter (16281): --> Strava_flutter: is token expired? false
I/flutter (16281): --> Str

[2019-12-06 00:52] aplusbi commented on #18
I just tried running my app on my tablet which is running Android 7, and it worked.

To answer your question:
1) Yes, it's just the word redirect
2) I am using email/password.

[2019-12-06 18:49] BirdyF commented on #18
Hi @aplusbi
Thanks for your help to qualify the problem.

Unfortunately I dont have here an Android 10 device.
Do you think the problem can be reproduced on Android emulator?

[2019-12-07 00:01] aplusbi commented on #18
Hi @BirdyF after further investigation the issue appears to be logging in using Firefox mobile instead of Chrome. I imagine this is due to an issue in one of your dependencies and not your library. Feel free to close the issue.

Thanks for all your help!

[2019-12-07 07:01] BirdyF commented on #18
Ah Ah! I could not have guessed that your default browser is Firefox on Android 10.
If you are satisfied with the package, please star it on github.

[2019-12-07 07:01] #18 closed

[2020-01-21 01:40] Parsons-David opened #19 "Flutter Web Authentication Error"
Device:
 - MacOS Catalina (10.15.1)
 - Chrome Browser

This is the Service library we've written:

**StravaService**
[code]

When the code runs we see the following error in the application tab's console

![image](https://user-images.githubusercontent.com/20645441/72767438-d1a1f300-3bc1-11ea-9935-f83371fee7f5.png)

In a new tab the authorization redirect occurs:

![image](https://user-images.githu

[2020-01-21 06:37] BirdyF commented on #19
Hi @Parsons-David

Thanks for bringing this issue. In fact, I did not know that strava_flutter could run on web until I saw the tag at the top of the package page!
I suspect it is related to closeWebView.
I will do some tests on a web app and will let you know

[2020-01-21 14:38] BirdyF commented on #19
I have done some tests localhost web using Chrome 79.0.3935 on Catalina 10.15.2 , clicking on segments and I have been a bit further than you. I have not seen the closeWebView error.

But the next problem is that I use the lib uni_links and this lib is not supporting yet web.
See [https://github.com/avioli/uni_links/issues/51](url).

So I think that the redirect page should be handled differently

[2020-01-22 02:21] Parsons-David commented on #19
Awesome, thanks for the quick response! Let me know if there's anything I can do to help!

[2020-01-26 17:56] BirdyF commented on #19
Hi @Parsons-David
A quick update to let you know that I worked on this issue, done some progress but still one problem that I hope to fix soon.
One question: Do you plan to have one Strava app (with only one https://www.strava.com/settings/api page) for mobile and web?

[2020-01-26 18:18] Parsons-David commented on #19
That's the target state, but if there's a temp/faster solution that can be implemented in another way I'd be happy to try it!

[2020-02-01 13:38] BirdyF commented on #19
Hi @Parsons-David ,

I pushed a new version (1.2.0+42) on github (not on pub.dev). BUT unfortunately it is stil not working for the web.
FYI, this version is working unchanged on Android and iOS.
The problem on web is that when auth is requested a new tab created but when auth is done the redirection is not working properly and the example runs in this new tab.
So you end up having two tabs with e

[2020-02-03 12:29] guidocimurro opened #20 "Check authorization"
Hi BirdyF,

thank you for your package.

How coud I check the status of authorization *without* open a new webView if there is no auth?

Thank-you very much,

Roberto

[2020-02-03 13:16] BirdyF commented on #20
Hi Roberto,

Not 100% sure to understand your question.
But if you want to check the status of Authorization without calling auth() you can call any API function and check the fault property.

For instance you can call getStats(int id) and check returnStat.fault.
I think if the authentication has not been done before error code should 401.

Does it answer to your question?

[2020-02-03 14:04] guidocimurro commented on #20
Thank-you very much for your reply!
You totally answer to my question, but unfortunely I get an exception

[code]

Thank-you!

[2020-02-03 16:06] BirdyF commented on #20
Ok. Clear. I will do some tests and will fix it.

[2020-02-03 16:08] guidocimurro commented on #20
Thank-you, thank you very much!

[2020-02-04 15:41] BirdyF commented on #20
Hi Roberto,
I pushed a new version (1.2.0+43) on pub.dev that should fix the problem for all the strava APIs.
If a strava API is called before auth is called , it should return the error code statusTokenNotKnownYet in fault.
Let me know if it is ok for you.

[2020-02-04 18:12] guidocimurro commented on #20
Thank-you very much, but I'm still getting the same exception

My code:

[code]

I've updated pubspec.yaml, got updated package and run "flutter clean".

Thank-you.

[2020-02-04 18:48] guidocimurro commented on #20
I'm thinking about your solution and I was probably unable to explain myself (shame on me for my English... :-)).

I'm a newbie, but I think it could be useful a function like this one (pseudocode):

[code]

In other words, I would like to know if the user is already authorized and, if not, open the webView only if and when I want to do it.

Thank-you very much for your helping.

[2020-02-06 15:26] BirdyF commented on #20
Hi Roberto,

Sorry for my mistake. I think that the problem mentioned earlier has been fixed.
Now in 1.20.0+44,  you can do:

Stats _stats = await strava.getStats(32212);
 if (_stats.fault.statusCode == error.statusTokenNotKnownYet) {
    print ('status code ${ _stats.fault.message}');
  }

Regarding your proposal, you can use any API function to check if authorization has been done before or not

[2020-02-06 16:08] guidocimurro commented on #20
Thank-you very much!

Just one more question: can't I check after reboot the app, right?
Let me explain.
1. I authorize Strava.
2. Run getStats and get data.
3. Reboot app, run
[code]
and still get statusTokenNotKnownYet also if the authorization was done.

May I manual check in shared_preferences, load refresh token and access token if any and check after done?

Or I'm missing something?

Thank-y

[2020-02-06 16:43] BirdyF commented on #20
Hi Roberto,

OK. I think that I undestand now what you want!
You want to know if Auth has been done before (even in previous runs of the app). Right ?
If you check refresh_token and access_token in shared preferences, you need also to check if the access_token is not expired.

[2020-02-06 16:51] guidocimurro commented on #20
Perfect! Thank-you very much!

[2020-02-06 17:37] BirdyF commented on #20
If you come up with a function to do it, feel free to do a pull request so it can be added to the package.

[2020-02-06 17:39] #20 closed

[2020-02-08 18:59] haslinger opened #21 "Saving of new access token not awaited?"
I see the pattern, that if the access token has expired, the debug log looks like this:

[code]
and I don't get any new activities. I believe the reason is saving of the token is not await-ed for in
https://github.com/BirdyF/strava_flutter/blob/master/lib/API/Oauth.dart#L247

On the second request everything works fine. That makes me believe it's only that timing issue.

[2020-02-09 13:28] BirdyF commented on #21
Hi @haslinger

Thanks. I will do some tests with await storeToken and wil llet you know.

[2020-02-09 20:33] Parsons-David opened #22 "ActivityType Enum/Class"
The addition of an `ActivityType` Enum or Class of Literals within the library would make filtering activities easier in other contexts within the library.

[**Strava Activity Types**](https://developers.strava.com/docs/reference/#api-models-ActivityType)

*Proposed Class*
[code]

[2020-02-10 09:11] #22 closed

[2020-02-10 16:48] BirdyF commented on #21
Hi @haslinger
I pushed a new version (1.2.0+45) on pub.dev with the modification in oauth().
Thanks!

[2020-02-10 16:48] #21 closed

[2020-02-25 07:38] David-Hughes3 opened #24 "uploadActivity 'Token not yet known'"
Hello,
I appreciate the work done on this library, and it has worked well for my class project so far.

I encountered this Fault error message today 'Token not yet known', when using uploadActivity(...). I had to change the verification of the header below for it to work. I believe this issue was added in commit 39adf926e738040c2d1a4fe7933c14f4cbfb1f92.

In 'strava_flutter/lib/globals.dart' on lin

[2020-02-25 07:46] BirdyF commented on #24
Hi @David-Hughes3 ,

Thanks for bringing this problem.
I agree with you. I will do some tests later today and will push a new release.

[2020-02-26 18:04] BirdyF commented on #24
Hi @David-Hughes3

I pushed a new version (1.2.0+46) fixing the problem.
Thanks for contributing/

[2020-02-26 18:05] #24 closed

[2020-03-16 13:41] heymonkeyriot opened #25 "startDate and startDateLocal removed from SummaryActivity"
Hi,
Thanks for all the work on this package!

Upgrading from v.1.1.0 to 1.2.0 I encountered an issue with startDate and startDateLocal being commented out of the SummaryActivity model.

It looks like it was from the PR relating to #24 where they ended up being commented out but can't see why they would have created an issue. At the moment I'm simply running it as a local package with those lines c

[2020-03-16 13:44] BirdyF commented on #25
Hi @heymonkeyriot

Thanks for bringing this problem.
I will look at it tomorrow and will answer you.

[2020-03-17 16:20] BirdyF commented on #25
Hi @heymonkeyriot
I pushed a new version (1.2.0+47) where I test if json['start_date'] is null because when running some tests I found some activities with start_date at null.
Let me know if it is OK for you.

[2020-03-17 20:32] heymonkeyriot commented on #25
Thanks so much @BirdyF for getting that updated so quickly. I'll go and test early tomorrow and let you know.

[2020-03-19 21:29] heymonkeyriot commented on #25
All working as expected for me 👍

[2020-03-19 21:29] #25 closed

[2020-03-24 07:32] etabakov opened #26 "Infinite Loop in getLoggedInAthleteActivities"
**Steps to reproduce:**

1. Create oauth token without the activity:read_all
2. Call getLoggedInAthleteActivities, parameters don't matter

**Expected Behavior:**
The method returns an error about insufficient permissions or whatever the Strava API will return.

**Actual Behavior:**
The method gets in infinite loop. As a result, you really quickly hit the API Rate limit and you cannot use the API

[2020-03-24 07:50] BirdyF commented on #26
Hi @etabakov
Thanks for pointing this error!
I think that isRetrieveDone = true is missing when error code is not 200.
I will look at it today and will push a new release or if you prefer you can do a PR.

[2020-03-24 08:05] etabakov commented on #26
Thanks for the quick reply! I'm still new to Flutter, but I will be happy to give it a shot with this PR.

[2020-03-24 08:18] BirdyF commented on #26
Dont worry I am new too!
You can do a PR and I will test it today if you like.

[2020-03-24 16:44] BirdyF commented on #26
Hi @etabakov
I pushed a new version (1.2.0+48) that should fix the problem.
I added a special button ("permissions") in the example to test so you can test .
Let me know if it is OK for you.

[2020-03-24 17:51] etabakov commented on #26
Yes, the problem is resolved. Thanks a lot for the quick turnaround!

[2020-03-24 17:51] #26 closed

[2020-03-27 19:41] kaciula opened #28 "Get id of club members"
Thanks for the package. It helped me bootstrap my app.

My specific use case is to group club activities made by each member of a club. But I see that getClubMembersById() does not include the id of the member. Furthermore, getClubActivitiesById() returns a list of SummaryActivity objects which contain an athlete object but with a null id.

Any suggestion on how I can achieve what I want? I can al

[2020-03-28 07:55] BirdyF commented on #28
Hi @kaciula

I will do some tests and will let you know.

[2020-03-28 09:26] BirdyF commented on #28
Strange, I dont see how it is possible (but I am not using Athlete API).
SummaryAthlete has id but getClubMembersById() does not return the id members, based on my tests and Strava developers docs (sample response to getClubMembersById()).

I tried with the club Marseille that I am member and get the same result.
I pushed a new version (1.2.0+49) where I added id in SummaryAthlete class so you can

[2020-03-29 16:37] etabakov opened #29 "GetActivityId might return double as totalElevationGain"
Using getAcitvityId over some activities throw an error "type 'double' is not a subtype of type 'int' ". In this particular case the value returned from Strava API for totalElevationGain is 28.0.

[2020-03-30 09:56] BirdyF commented on #29
Thanks contributing.
I added .toDouble() in totalElevationGain = json['total_elevation_gain'].toDouble();
in case others app put an integer in this property.

[2020-03-30 09:57] #29 closed

[2020-03-30 11:22] etabakov commented on #29
Yeah, good point!

[2020-03-30 13:57] kaciula commented on #28
@BirdyF Unfortunately, it is not possible to get data for other club members, even if you are the admin. The Strava club API is right now useless.

https://groups.google.com/forum/#!topic/strava-api/fTTkp_FmoFU

Thanks for the support.

[2020-03-30 13:57] #28 closed

[2020-04-03 08:01] BirdyF opened #31 "Add undocumented API to get photos of an activity"
Following what has Daniel D. has done in Ruby
[https://github.com/dblock/strava-ruby-client#list-activity-photos](url)
[https://github.com/dblock/run.dblock.org/blob/gh-pages/Rakefile#L147](url)

[2020-04-22 10:58] haslinger opened #32 "Conflict with the Strava app"
This is most likely not an issue, that could be solved by strava_flutter, but I would like to share my current state of the following issue and ask for your opinions on it:

A user running my app, who has also installed Strava's app on an iPhone (OS Version 13.04), gets the "Authorize to Strava" dialog, but when he clicks on the "Authorize" button, a popup "Open in Strava" appears. By clicking "OK

[2020-04-22 12:33] BirdyF commented on #32
Hi @haslinger
Have you done the test yourself on iOS?
I checked quickly on my iPhone and I dont see a way for the user to remove this link.
If you want I can do the test on iOS 13.3.1.

[2020-04-22 15:24] haslinger commented on #32
I currently don't have an iOS device at hand, but I got a screen recording from the user:
https://send.firefox.com/download/2a4bc4fdc0e41815/#H1360P7qSo0deuYzIHmzPw

[2020-04-22 16:27] BirdyF commented on #32
Thanks. I understand.
I should be able to do some tests tomorrow on iOS and will let you know

[2020-04-23 08:43] BirdyF commented on #32
I have done some tests on iOS using example and asking for upload, with the latest strava version (22/04/2020):
- iOS 12.1, after authentication  asking  "Open in "example" ? with cancel/ok
- iOS 13.3.1, after authentication asking  "Open in "strava"?" with cancel/ok

It is a problem on iOS13 because when you install your app and use it for the first time you need to deinstall Strava app to have i

[2020-04-23 09:31] haslinger commented on #32
No worries, no stress, we have the work around ;-)

Btw - hope not to annoy you!, if you ever want to play with my app, it's open source, the repo is over there: https://github.com/3schweinehunde/encrateia , meta info (and screenshots) is at https://encrateia.informatom.com/ and I would be happy to give you credits on the team page, if you agree.

[2020-04-23 10:32] BirdyF commented on #32
I think I found the problem: it is a conflict in urlscheme. strava_flutter uses "strava" as urlscheme like strava app.
I will do more tests (iOS and Android) and will push a new version soon.

I will look in more details to encrateia, it seems to provide a lot of analysis!
Personally I am bicycle centric so not sure to be able to use it.
Sure you can credit me on the team page.

[2020-04-24 17:42] BirdyF commented on #32
Hi @haslinger
I pushed a new version (1.2.1+51) today that should fix the problem (tested on iOS12, 13 and Android 9).
Let me know if it is not fixing the problem from your side.

[2020-04-25 22:39] etabakov opened #33 "Authorization with custom url scheme is not possible"
Currently, authorization in a mobile application with url scheme different than 'stravaflutter' is not possible.

https://github.com/BirdyF/strava_flutter/blob/709b0af68f0e58846178c48c4282ee7bfaf62201/lib/API/constants.dart#L14-L16

Maybe, it's a good idea to parametrize this, so others schemes are also possible. I'll be happy to work on a PR if you think this is a good idea.

[2020-04-25 22:43] etabakov opened #34 "Unsuccessful deAuthorization might be a deadend"
We stumbled upon the following case:
1. User is authorized
2. The token of the user becomes invalid for some reason
3. The User is trying to deauthorize

With the current implementation:
https://github.com/BirdyF/strava_flutter/blob/709b0af68f0e58846178c48c4282ee7bfaf62201/lib/API/Oauth.dart#L410-L423

If there is an error in the deauthorization request, the token is not cleared from the local sto

[2020-04-26 06:58] BirdyF commented on #34
Hi @etabakov. You are right, there is a bug  when deauthorization has a problem.
But instead of adding  only "await _saveToken(null, null, null, null);"  I would prefer to add also  a specific errorCode something like statusErrorDeauthorization to allow the caller of deAuthorize to know that an error happen. Is it OK for you?

[2020-04-26 07:01] BirdyF commented on #33
Hi @etabakov,
Sorry I am not sure to understand the problem.
What is the issue to have "stravaflutter" (or even before "strava" url scheme and why you will need to change it?

[2020-04-26 07:29] etabakov commented on #34
Yes, perfect. Thank you!

On Sun, 26 Apr 2020 at 09:59, Birdy 83 <notifications@github.com> wrote:

--
Поздрави,
Емил Табаков

[2020-04-26 07:33] etabakov commented on #33
The biggest problem especially with the "strava" url scheme is that "strava" is used by the real Strava application. So, if a user has my app and the Strava app (which is highly likely) - the authorization will not work correctly. The user might be redirected back to Strava instead to my app.

So, the idea is that every app should have its own scheme. Hence, this property should be customizable.

[2020-04-26 07:42] etabakov commented on #34
Feel free to add the errorCode to the PR I opened.

[2020-04-26 09:06] haslinger commented on #32
Unfortunately, we got a new error message (I didn't change anything in the code, just updated the dependency.)

![IMG_6366 PNG](https://user-images.githubusercontent.com/1116624/80303009-cefcfe00-87ad-11ea-9031-4427dd721773.jpeg)

[2020-04-26 11:05] BirdyF commented on #34
OK I will do.

[2020-04-26 11:12] BirdyF commented on #33
Thank you. I understand.
Yes there was a conflict (issue #32) with Strava app.
But since the version 1.2.1+51 it should be fixed because url scheme is now "stravaflutter" and not anymore "strava"
The bundlename in iOS is still "strava" but it should not interfere with strava app..

[2020-04-26 11:16] BirdyF commented on #32
Have you changed the url scheme?
Now it is not anymore "strava" but "stravaflutter"
Please check documentation below:
2 - Settings of the url scheme for Strava Authentication redirect url a) For Android Add the following lines in your AndroidManifest.xml (in android/app/src/)

 <intent-filter>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.categ

[2020-04-26 11:18] haslinger commented on #32
Oh, thanks, my bad!

[2020-04-26 11:38] etabakov commented on #33
Yes, so #32 will solve the case for conflict with a Strava app. But you can have a conflict between two other apps who are using the flutter_strava package for example.

For many reasons I would like to have unique url scheme for my app to avoid all type of conflicts with other apps. See here for more information: https://developer.android.com/training/app-links/deep-linking#adding-filters

[2020-04-26 13:08] BirdyF commented on #33
OK. But sorry I dont know how to add or parametrize url scheme (on iOS or Android).
If you know how to do it, you can a PR and I will check

[2020-04-26 13:35] BirdyF commented on #34
Fix done in 1.2.1+52.
Thanks for contributing!

[2020-04-26 13:35] #34 closed

[2020-04-26 19:00] etabakov commented on #33
No worries, I will open PR in the next days. Thanks!

[2020-04-30 13:10] haslinger commented on #32
Meanwhile, I updated the browser schema, still the error message persists: "Safari cannot open the page because the address is invalid". The url that is actually used (copied from Safari's address bar) is:
[code]

[2020-04-30 13:16] BirdyF commented on #32
OK I will do additional test from my tests and will you let you know

[2020-04-30 14:45] BirdyF commented on #32
I pushed a new version +54.
urlscheme is changed  from strava to stravaflutter.
<key>CFBundleURLSchemes</key>
			<array>
				<string>stravaflutter</string>
			</array>

I think it should fix your problem.
Please let me know!

[2020-04-30 17:18] haslinger commented on #32
The new version doesn't fix the issue. Looking into today's commits: These are only changes
in code formatting, I don't see the urlscheme change.

[2020-04-30 19:24] BirdyF commented on #32
Sorry. I have modified the URL Scheme before this version but only locally!
I have not been able to reproduce the problem on iOS 13.
Do you have the invalid address message  before or after the ‘open with example’ message ?

Can you check if ‘redirect’ is still in settings application on your Strava dashboard?

[2020-04-30 20:30] haslinger commented on #32
Thank you for your continuous support!
Regarding timing of the message, I have no iOS device at hand this week, and the test user is no developer, so update on this topic will follow next week.
Double checking the callback domain: Yes, it's still "redirect".

[2020-05-03 09:36] etabakov opened #36 "Unsuccessful authorization with browser different than Chrome"
On Android, trying to authorize with any different browser than Chrome (e.g. Firefox, Dolphin) results in unsuccessful authorization. User is redirected to the root page of the app with no valid tokens stored.

[2020-05-03 10:34] etabakov commented on #36
When debugging, this callback is not called when using different browser than Chrome:

https://github.com/BirdyF/strava_flutter/blob/15e0da75514f5319803309e29a6d57d6c2abb63c/lib/API/Oauth.dart#L161-L182

[2020-05-03 11:09] jens-s-dreyer commented on #36
I confirm this issue.
Authorization with default browser from Mi Ui stuck at "Strava_flutter: Running on iOS or Android".

This seems the last API output above the snippet posted by etabakov.
(with chrome browser everything works)

[2020-05-03 13:17] etabakov commented on #36
Another observation: looks like with other browser after the user clicks the "Authorize" button on Strava - the Flutter application is restarted. While, with Chrome - the application is still alive and the callback above handles the request.

[2020-05-03 17:07] BirdyF commented on #36
Hi @etabakov  @jens-s-dreyer
Thanks for reporting the problem. I will do some tests on Android 9 using Firefox.
Problem should come from url_launcher.
Once I can reproduce the problem I will test also with the latest version of url_launcher (5.4.5).

[2020-05-03 22:09] etabakov commented on #36
Thanks a lot! Let me know if I can help with anything.

[2020-05-04 06:59] BirdyF commented on #36
I have done a quick test on Android 9 with latest version of Firefox and been able to reproduce the problem.
Moving to url_launcher: ^5.4.5  seems to fix the problem for me.
I pushed a new version 1.2.1+55 with the latest version of url_launcher.
Let me know if it solves your problem.

[2020-05-04 09:47] BirdyF commented on #19
Hi @Parsons-David
Have you found a solution to this issue?
I have tested with the latest version  url_launcher (5.4.5) and still found the problem (after authentication another app is created in anothe tab).

[2020-05-04 12:26] Parsons-David commented on #19
I just decided to stop supporting the web interface for my application, since I was able to support all my current users without it. I'm eventually hoping to add the web support back, but for now I don't need it.

Because of this I haven't done any further investigation into the issue.

[2020-05-04 19:27] etabakov commented on #36
The problem still persists on my side. Actually, I had already `url_launcher: ^5.4.5` set in my pubspec.yml, so I was using the latest version of the package.

[2020-05-05 06:03] BirdyF commented on #36
I have done additional tests using example.dart:
- Firefox 68.7.0
- Android 9 1st May 2019 on LG G6
And I have not been able to reproduce the error.
Could you give the versions of Android and Firefox you are using?

[2020-05-05 06:32] etabakov commented on #36
- Firefox 68.7.0
- Android 10 emulator x86

[2020-05-05 06:51] BirdyF commented on #36
Can you try on Android 9 emulator?
I will try on Android 10 emulator x86

My flutter doctor (using web channel for the moment)
[✓] Flutter (Channel beta, v1.17.0, on Mac OS X 10.15.2 19C57, locale fr-FR)
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.3)
[✓] Chrome - develop for the web
[!] Android Studio (version 3.5

[2020-05-05 11:41] BirdyF commented on #36
I have been able to reproduce the problem on Android x86 emulator.
After the authorization, Firefox is restarting example (or creating a new instance).
I will additional tests around url_launcher package and will let you know if there is any progress.

[2020-05-05 16:46] tunt-04098 commented on #32
https://github.com/BirdyF/strava_flutter/blob/709b0af68f0e58846178c48c4282ee7bfaf62201/example/ios/Runner/Info.plist

Check here, the ios info.plist in example folder have set 'stravaflutter' but 'strava' on the docs

<key>CFBundleURLTypes</key> <array> <dict> <key>CFBundleTypeRole</key> <string>Editor</string> <key>CFBundleURLName</key> <string>stravaflutter</string> <key>CFBundleURLSchemes</key>

[2020-05-05 16:54] tunt-04098 commented on #32
Btw, if i install two flutter app use the strava oauth. When redirect schema is call 'stravaflutter://redirect', which application can catch links?

[2020-05-05 17:19] haslinger commented on #32
@tunt-04098 thanks! Works on the first device, testing with two more (other os versions), then I'll close the issue.

[2020-05-06 05:59] BirdyF commented on #32
Hi @tunt-04098

Regarding your question about 2 apps using strava_flutter, clearly a conflict will appear.
This answer to this question should be similar to issue 33 about custom url scheme. But I dont know the answer.

[2020-05-06 08:47] haslinger commented on #32
Tested on all devices available, works fine!

[2020-05-06 08:47] #32 closed

[2020-05-06 09:58] BirdyF commented on #32
Thanks @haslinger for the feedback.
I will update the documentation.

[2020-05-08 16:22] BirdyF commented on #32
Hi @tunt-04098
Testing on Chrome if 2 apps have the same urlscheme, Chrome will ask to select which app to open

[2020-05-09 07:16] BirdyF commented on #36
Hi @etabakov

FYI, I filed an issue regarding url_launcher package
[issues/56690](https://github.com/flutter/flutter/issues/56690)
Maybe you could add a thumb up to this issue to try to get a bit more priority from Flutter tearm.

[2020-05-09 07:43] jens-s-dreyer commented on #36
Thank you very much :-) both of you

[2020-05-09 14:37] ajgreenman opened #37 "getActivityById errors when creating DetailedActivity object"
When calling getActivityById(id) with a valid Id, I am returned a 200 response but the DetailedActivity.fromJson call errors with an unhandled exception. See stack trace with Strava client in debug mode:

`I/flutter ( 4710): --> Strava_flutter: Entering getActivityById`
`I/flutter ( 4710): --> Strava_flutter: 200`
`I/flutter ( 4710): --> Strava_flutter: Activity info {"resource_state":3,"athlete":

[2020-05-09 16:11] ajgreenman commented on #37
I believe the issue might be with suffer_score. It is an int in the model but in the API is being returned as a double. Later today I will see about submitting a PR

[2020-05-10 06:13] BirdyF commented on #37
Thanks for the PR

[2020-05-10 06:13] #37 closed

[2020-05-16 09:10] BirdyF commented on #36
Hi @etabakov  and @jens-s-dreyer
Following the advice of Noel Mansour in [issues/56690](https://github.com/flutter/flutter/issues/56690), I changed launchmode from singleTop to singleInstance.
I pushed a new  version(+60) and for me it is working on Firefox.
Could you check that it is also working on browsers that you are interested?

[2020-05-16 09:29] BirdyF opened #39 "Add segment_efforts"
Add segment efforts API
[segments_effort](https://developers.strava.com/docs/reference/#api-SegmentEffortl)
- getEffortsBySegmentId
- ~~getSegmentEffortById~~

[2020-05-16 20:58] etabakov commented on #36
Hey @BirdyF, just updated to `^1.2.1+60` but no luck - still doesn't work for me on Firefox. My app restarts and the authorization is not successful. How can I help you troubleshoot that?

[2020-05-17 06:15] BirdyF commented on #36
Have you changed launch mode in AndroidManifest.xml from singleTop to singleInstance as mentioned by Noel Mansour ?
Sorry it is not yet in the documentation of the package.
I will do additional tests today and will update the documentation

[2020-05-17 13:59] etabakov commented on #36
Oh, my bad - I was about to ask about it, but totally forgot. It works now. Thanks a lot!
Any side effects I should be careful about from switching from singleTop to singleInstance?

[2020-05-17 14:21] etabakov commented on #36
I can confirm authorization is working now with Firefox, Opera, and Dolphin.

[2020-05-17 14:56] BirdyF commented on #36
Hi @etabakov,
Good to know it is working for you.
Not sure about the consequence ofhe launch mode change from SingleTop to SingleInstance.
We have to keep this in mind if problem occurs on authentication callback.

[2020-05-17 16:11] #36 closed

[2020-06-23 17:10] blaze021 opened #40 "How to get the list of gears of an athlete without knowing the id of any gear(getGearById(someId))"

[2020-06-23 20:34] BirdyF commented on #40
I think that you can get the id of a gear in the answer of getLoggedInAthlete
[getLoggedInAthlete](https://developers.strava.com/docs/reference/#api-Athletes-getLoggedInAthlete)

For instance like in the example of the strava API documentation
"bikes" : [ {
    "id" : "b12345678987655",
    "primary" : true,
    "name" : "EMC",
    "resource_state" : 2,
    "distance" : 0
  } ],
  "shoes" : [ {

[2020-06-23 21:55] blaze021 commented on #40
Thank you!

On Wed, 24 Jun 2020, 02:04 Birdy 83 <notifications@github.com wrote:

[2020-06-24 06:04] #40 closed

[2020-08-03 11:50] haslinger opened #41 "Authorization with multiple users"
I realize, that this might be an odd use case, but it would be awesome to log out and log in as a different user.

I guess this should be possible right now, by removing the 4 values from prefs and globals for one user, and stick the old ones from the other user in, so feel free to close this issue immediately. But it would be really nice to have it in the api directly.

[2020-08-03 12:10] BirdyF commented on #41
Hi Stefan,
Have you tried deauthorize()?

[2020-08-03 12:44] haslinger commented on #41
Completely missed that! Will try immediately. Thanks!

[2020-08-03 13:42] haslinger commented on #41
deauthorize() invalidates the token, but with the next request the authorization is not retriggerd, log says, that response is not 200 but 401. And actually I don't want to devalidate, just swap between the users. So I stayed with swapping in and out the four values from prefs and globals. That totally does the trick for me.

It somebody else want to do something similarly, here is my code: https:

[2020-08-03 13:42] #41 closed

[2020-08-15 07:31] gki opened #42 "Example code with `getEffortsbySegmentId()` runs out Strava API request limit"
# Problem
 I tried to run example code of this lib and when I tapped "Segments" button several times, Strava API started to return an error below.
[code]

Also, Strava web app shows the number of API requests are extremely high during 15min. (In 2nd graph, the number of requests are around 2500 during 15 min, although I've set up this Strava API just now!!)

<img width="965" alt="スクリーンショット 2020-08

[2020-08-15 14:25] BirdyF commented on #42
Hi @gki
Sorry for the trouble.
But it is mentioned in the header of this API SegmentEfforts#getEffortsbySegmentId()  that it is not working yet.
I will fix the problem as soon as I have the time.

[2020-08-17 19:00] haslinger opened #43 "cannot retrieve new token after expiration"
I'm seing a new phenomenon today on an Android device, where the token is expired. Firefox opens, the log shows:

[code]

And when I confirm in Firefox, the app only shows a white screen. No error message (probably because device connection is lost).
I am developing internal logging into a database anyway right now, so I hope I will be able to get error messages that way. I will investigate furthe

[2020-08-18 09:26] haslinger commented on #43
Deleted my old token and suddenly everything works again. Not sure, if there was a connection at all, if there was an issue with my Strava account, I just don't know.

[2020-08-18 09:26] #43 closed

[2020-09-12 12:52] Laebrye opened #44 "To have more than one app using strava_flutter in the same phone"
We've been developing an app that integrates user Strava data. For development & testing purposes we've set up a couple of flavours.

When performing oauth on any of these flavours, the web page opened up for oauth is inconsistent, but more troubling is that the when selecting `Authorize` on the strava authorization page, navigation back to the correct app doesn't always happen:

![Simulator Scree

[2020-09-13 12:54] BirdyF commented on #44
Hi @Laebrye

What you mean is that you have 2 apps (let say A and B) in your phone using strava_flutter package and that you have trouble after the authentication to get back to the right app?
For instance, you are in app A, call strava_flutter Authentication and are back after the authentication to App B.

If it is the case, I think the problem is coming from info.plist (same thing in Android for

[2020-09-14 10:24] BirdyF commented on #44
Sorry @Laebrye but I dont have the time to test for the moment.
Let me know if the modifications that you have done in oauth.dart solved your problem.
If yes I will update  the readme

[2020-09-14 10:27] Laebrye commented on #44
Will do. I've made some modifications and will run tests today. Apologies for not replying sooner. Really appreciate you helping me out 👍

[2020-09-15 14:48] Laebrye commented on #44
So we came up with a solution, that (for brevity's sake) took the Url scheme and appended the strava client id to it the stravaflutter value. Then, in Oauth.dart we made two changes:

line 164 as suggested:
[code]

and on lines 105-108:
[code]

with the `redirectUrlMobile` in constants.dart refactored into a prefix and suffix:
[code]

I appreciate not everyone will want their clientID exposed in t

[2020-09-18 17:41] MrCsabaToth commented on #19
@Parsons-David just an idea, a thing to rule out: do you happen to use any adblockers?

[2020-09-18 17:51] MrCsabaToth opened #46 "Have a version of uploadActivity which accepts String (XML) or List<int> input instead of file name"
When I upload I don't want the file to materialize but I'd like to upload it from memory. In such case I generate the TCX in memory. (Note that I also would like to upload TCX.gz instead of the larger uncompressed TCX. `uploadActivity` uses `http.MultipartFile.fromPath`. For in-memory text content there's `http.MultipartFile.fromString` and for gzip we could use `http.MultipartFile.fromBytes`. All

[2020-09-19 08:17] BirdyF commented on #44
Hi @Laebrye

Thanks for the proposal. I am not sure many people will be interested by this PR.
One question : What could be the risk to expose the ClientID?

[2020-09-19 08:19] BirdyF commented on #46
Hi @MrCsabaToth

I agree with you this will be a nice improvement.

[2020-09-19 08:22] BirdyF commented on #19
Hi @MrCsabaToth

I am not using adblockers and found the same problem.
In fact you can get the same problem when authenticating to Spotify.
I assume that for Flutter web, another lib than url_launcher should be used

[2020-09-19 08:50] Laebrye commented on #44
Well, I assumed that because it's put into the `secret.dart` file that it should be kept secure, but as a colleague of mine has pointed out the client ID is actually available in the URL anyway.

I like the change, but I accept that it's a breaking change.

If you like, I can investigate a way to make the change non-breaking or I'm happy to create a PR for it anyway, even if it's just for you to i

[2020-09-20 02:56] MrCsabaToth commented on #46
I implemented this but it caused so much code churn and API change (also related to rw_tcx as well) that I don't have a PR for this right now.

[2020-09-20 02:57] MrCsabaToth opened #47 "Token null related checks and clauses seem to be off"
I'll test some of the changes in my copy of the code.

[2020-09-20 03:07] MrCsabaToth commented on #47
These changes are very dangerous and if not correct they could break the login or the token renewal procedure.

[2020-09-20 12:34] BirdyF commented on #47
Hi @MrCsabaToth

Thanks for contributing!
I agree with your changes.
Let me know if you see any problem when testing. If it is the case I will revert.

[2020-09-20 12:36] BirdyF commented on #44
Hi @Laebrye

Thanks for contributing.
I see that for the moment I will leave it as it is.
And will modify the title of this issue to help others to find the solution you found.

[2020-10-27 03:03] tunt-04098 opened #49 "Missing 'expires_in' on Token"
Missing parameter 'expires_in' on Token

{
  "token_type": "Bearer",
  "expires_at": 1568775134,
  "expires_in": 21600,
  "refresh_token": "e5n567567...",
  "access_token": "a4b945687g...",
  "athlete": {
    #{summary athlete representation}
  }
}

[2020-11-08 14:49] #47 closed

[2020-11-08 15:18] BirdyF commented on #49
Hi @tunt-04098

Thanks to spot it.
I will add it in the next version.

[2020-11-12 20:55] MrCsabaToth commented on #8
Is `android:usesCleartextTraffic="true"` just for API 28 or also API 29 and up? Currently my Flutter app compiles as 29 target + compile API, 19 min API. My phone has Android 10 (API level 29). One of my users complain that the Strava authentication doesn't work for him, and I cannot determine what's the problem: https://youtu.be/d76LpOdfe-Y

[2020-11-12 20:55] MrCsabaToth commented on #49
Where is this code section?

[2020-11-12 21:20] MrCsabaToth commented on #8
Off-topic: I'm not a native German speaker, but I laughed at the github repo name "Schweinehunde" :). Translation just mirror translates it. https://github.com/3schweinehunde/encrateia

[2020-11-12 21:21] MrCsabaToth commented on #8
Do we know why the `android:usesCleartextTraffic="true"` solves the problem?

[2020-11-12 22:08] MrCsabaToth commented on #49
Note that this image https://developers.strava.com/images/authentication-2.png of the https://developers.strava.com/docs/authentication/ does not mention to store the expires_in explicitly. Maybe it's an oversight, but if you think about it the expires_at is a well defined specific time, whereas the expires_in only makes sense at the time of receiving that from the Strava back-end. If you later wo

[2020-11-13 06:02] haslinger commented on #8
@MrCsabaToth There is the concept of "your inner pig-dog" in German. Everybody has it, it's the animal, that let's you stay on the the couch eating some more cookies instead of getting out for a run. The 3 Schweinehunde is a German podcast on originally 4 ;-) guys (now 3 + 1 gal) getting in shape for a half marathon. And my project originated from that podcast, I am  a co-host of.

[2020-11-15 16:50] BirdyF commented on #49
Hi @MrCsabaToth
Thanks for the clarification. I agree with you.
expires_at can be stored while expires_in can be used directly by the app.
Anyway could be worth to add it as a parameter in case some people want to use it.

[2021-03-07 16:30] e385 opened #50 "Missing variable assignment"
In class RefreshAnswer (token.dart) the value for ` model.expiresIn` isn't assigned:

`    model.expiresAt = map['expires_in'];`
should be
`    model.expiresIn = map['expires_in'];`

[2021-03-08 10:03] BirdyF commented on #50
Hi @e385
Thanks. Could you do a PR please?

[2021-03-12 15:17] e385 commented on #50
Hi @BirdyF , done✅

[2021-03-13 13:54] #50 closed

[2021-03-23 06:42] derrickstampede opened #52 "Upgrade shared_preferences dependency to 2.0.0"
Hello, first is thank you for providing this package. But it's currently lagging when it comes to the latest packages specifically shared_preferences. And some of the packages I need are dependent on the latest shared_preferences version. Is there a chance you will update your package soon? :)

[2021-03-24 00:44] johnsheehan commented on #52
I'm running into similar issue with url_launcher.

Thanks for the library!

[2021-03-24 21:34] Jacek-Galla commented on #52
I created Pull request https://github.com/BirdyF/strava_flutter/pull/53

[2021-03-29 06:05] BirdyF commented on #52
Hi @derrickstampede, @johnsheehan, @Jacek-Galla
Sorry but currently I dont have the time (and the equipment) to work on it.
I should be able to do it not before mid-April.
 If there is anybody interested to maintain the repo I can transfer it.

[2021-04-13 03:41] yusmi25 opened #54 "Upload FIT file"
can I Upload activity with extension .FIT file from my flutter apps with this package
thanks.

[2021-04-13 06:21] BirdyF commented on #54
Hi @yusmi25
No, it is not possible

[2021-04-13 07:17] yusmi25 commented on #54
so this package only upload activity gpx and tcx only ?

[2021-04-13 07:47] yusmi25 commented on #54
thank you

[2021-04-13 07:47] #54 closed

[2021-04-13 08:39] yusmi25 opened #55 "Upgrade intl to 0.17.0"
Hello, first is thank you for providing this package. I'm using package intl: ^0.17.0 and error when get package.Can you update your package soon
thank you. :D

[2021-06-09 23:24] sebasArias opened #57 "Any chance to upgrade it to Null Safety?"
First of all, great package. Thank you very much.
Is there any chance to update it to null safety?

[2021-06-22 08:18] yusmi25 opened #58 "Please upgrade the depedencies"
please upgrade the package, because the depedencies is too old
thanks. :D

[2021-06-28 06:15] BirdyF commented on #58
Hi @yusmi25 I will try to do it next week but not sure yet.

[2021-07-20 12:37] eoanodea commented on #58
I'm running into the same issue, is there any update on this? :)

[2021-07-23 12:19] raja-karthik commented on #58
Please update the plugin.

[2021-07-25 14:59] BirdyF commented on #58
Sorry @eoanodea @raja-karthik but I dont have anymore the time to work on this project and I now I have only one old Mac.
Is there anyone interested to take over Strava_flutter? I can do a transfer.

[2021-07-25 15:02] BirdyF opened #60 "Anyone interested to take over strava_flutter?"
I don't have anymore the time to work on this project.
Is there anyone to take care of this project?

[2021-07-29 20:04] fauzipadlaw opened #61 "Problem with deauthorize, breaking change from shared_preferences 2.0.0"
https://pub.dev/packages/shared_preferences/changelog#200

[2021-07-29 20:25] fauzipadlaw commented on #61
issue after this merging this #53

[2021-08-09 15:56] haslinger commented on #58
Thanks for the heads up and thank you so much for writing and maintaining the library for a long time. I will look into it and come back to this issue with an answer.

[2021-08-09 16:02] raja-karthik commented on #58
Thank you so much @haslinger . Come on. Folks. Please upgrade little bit earlier with null safety.

[2021-08-09 19:54] dreampowder commented on #60
@BirdyF hello there, i'd like to spend some time in your project. I am already working on a project with strava integration anyway

[2021-08-10 08:30] BirdyF commented on #60
Hi @dreampowder. Thanks. I will transfer the repo later today.

[2021-08-10 08:36] BirdyF commented on #60
Done.
You should have received the request to accept the transfer.
I hope to have to have some time end of this year to work on this project again.

[2021-08-10 09:10] dreampowder commented on #60
Thanks so much for giving us a good headstart with strava api with flutter. I'll take good care of the project

[2021-08-10 09:11] #60 closed

[2021-08-12 15:55] ozzy1873 opened #63 "Unable to log in"
I have one user who is unable to log in. They click the Connect to Strava button, authorize the app, and the Strava sign-in screen redirects back to the app. However, the sign-in never actually happens. The Strava website does not display my app under "My Apps". The user has Chrome as the default browser. The users phone is a Samsung S9+. Other users have been able to connect to Strava with no pro

[2021-08-12 17:16] ozzy1873 commented on #63
The user sent me a video that shows that my app is killed immediately when it goes into the background, which would prevent a successful login. I think this is unrelated to this plugin, so I will close this issue.

[2021-08-12 17:16] #63 closed

[2021-09-10 12:39] dreampowder opened #65 "pub.dev entry"
Hello @BirdyF , i am about to release a new version in few weeks and i wonder if you can give me publish access from pub.dev, or mark flutter_strava as "discontinued" so i can release with a new one (ofcourse by mentioning you)  while keeping pub.dev free from discontinued packages

[2021-09-11 14:41] #19 closed

[2021-09-11 14:41] #31 closed

[2021-09-11 14:41] #33 closed

[2021-09-11 14:41] #39 closed

[2021-09-11 14:41] #42 closed

[2021-09-11 14:41] #44 closed

[2021-09-11 14:41] #46 closed

[2021-09-11 14:41] #49 closed

[2021-09-11 14:41] #52 closed

[2021-09-11 14:41] #55 closed

[2021-09-11 14:41] #57 closed

[2021-09-11 14:41] #58 closed

[2021-09-11 19:57] MrCsabaToth commented on #49
Just a note since I'm working on SUUNTO, MapMyFitness and other OAuth authentications: some OAuth servers only supply `expires_in` and some only `expires_at`. If the code expects only the other then there would be an error. I convert `expires_in` to `expires_at` on my back-end. If Strava doesn't give me `expires_in` then it probably doesn't expect it to get it and it expects the same coming back.

[2021-09-12 03:59] dreampowder commented on #49
Hi @MrCsabaToth , i closed this issue because i am completely refactong the code and i think we should let developers to decide what to do with expires_in property.

So i decided to store this value too for future sessins.

thanks again for all your efforts, i am always looking forward for your valuable contributions

[2021-09-12 04:25] MrCsabaToth commented on #49
Hi @dreampowder I saw there was a lot of refactoring done. Thanks for your work, I just added my comments for the record. Hopefully in the future I can contribute.

[2021-09-25 01:17] sebasArias opened #66 "Can anyone help me implementing the package?"
Hi, I have tried multiple times to implement this package in my flutter app, however, after I accept on Strava it never returns to the App. It shows an error saying 'Safari cannot open the page because the address in invalid'... any suggestion of someone who has already implemented this package?

I would be really grateful for any help!!
![IMG_6713](https://user-images.githubusercontent.com/376407

[2021-10-17 17:54] etabakov opened #67 "Multiple cast errors when retrieving SummaryActivities"
When using `strava.activities.listLoggedInAthleteActivities(before, after, 1, 100)` I get multiple type errors
<img width="725" alt="Screenshot 2021-10-17 at 19 59 25" src="https://user-images.githubusercontent.com/2611328/137639059-9de57995-57cb-4711-a7f5-dd76823d3a44.png">

[2021-10-21 06:11] etabakov commented on #65
@BirdyF any update on this one? The package has been stuck for more than an year and I'd love not to have to refer to the github repo for updates.

[2021-10-21 07:02] dreampowder commented on #65
I am considering to release this package as a new package. Looks like the @BirdyF doesn't use github anymore. What do you think?

[2021-11-03 01:53] yusmi25 opened #71 "Error when get package"
hello @dreampowder , I'm Using Flutter 2.5.3 (Android SDK version 31.0.0) when I implement this package, I get the error :

`Running "flutter pub get" in qoolbike_v1...
Because image_picker >=0.8.4 depends on image_picker_platform_interface ^2.3.0 which depends on http ^0.13.0, image_picker >=0.8.4 requires http ^0.13.0.
So, because qoolbike_v1 depends on both image_picker ^0.8.4 and http ^0.12.2,

[2021-11-03 13:29] harkairt commented on #71
try with

[code]

[2021-11-03 13:41] dreampowder commented on #71
@harkairt i was about to write the same thing that, thanks :)

[2021-11-03 16:26] harkairt opened #72 ""Request Failed" error on Strava app when I try to authorize"
When I load the request url to browser
`https://www.strava.com/oauth/mobile/authorize?client_id=73709&redirect_uri=stravaflutter://redirect&response_type=code&approval_prompt=force&scope=read_all`
 and click Authorize then I get a simple 302, and nothing else

![Screenshot_20211103-172453](https://user-images.githubusercontent.com/32367206/140101462-46e8ba05-ba2d-433c-b300-15e6f771b238.jpg)

[2021-11-07 20:45] dreampowder commented on #72
hello, can you also share your androidmanifest.xml file please?

[2021-11-07 20:48] dreampowder commented on #71
this issue is closed as there were no response from @yusmi25

[2021-11-07 20:48] #71 closed

[2021-11-07 20:48] #66 closed

[2021-11-09 07:14] yusmi25 opened #73 "Upgrade Dependencies"
hello, thanks to @dreampowder @BirdyF to make this package, It's very usefull when working with strava API so far, but any plan to upgrade this package, because the Dependencies is too old.
Thanks 👍 💯

[2021-11-09 07:18] dreampowder commented on #73
hi @yusmi25, if you are using this package from pub.dev dependency, then yeah you are using the old repository.
sadly @BirdyF transferred this account to me but forgot to transfer pub.dev rights to publish this package as a new version.

The whole package has been refactored and almost rewritten from scratch. ( so no backwards compability ) . I am thinking about releasing this package with a new n

[2021-11-09 07:36] yusmi25 commented on #73
I get it. to get the latest source code of a package, I must get from github not from pub.dev right ?
but It's good idea if @BirdyF forgot to transfer the pub.dev you can releasing this package with a new pub.dev account (by mention the creator), because only this package can helping to intergate with Strava API 👍

[2021-11-09 07:42] dreampowder commented on #73
yeah, your pubspec.yaml shuold look like this:

`  strava_flutter:
    git:
      url: https://github.com/dreampowder/strava_flutter
      ref: 12ce5c8be5d11a250dc3f175d3171b9f24abb3bd`

[2021-11-09 07:45] #73 closed

[2021-11-09 08:45] harkairt commented on #72
This happens with the example app from this repo. I noticed it is missing the necessary information, even after adding them

[code]

regardless, to me it looks like an issue with Strava, but I am not sure

[2021-11-09 08:57] dreampowder commented on #72
hello, please make following changes:

[code]

[2021-11-09 08:58] dreampowder commented on #72
I am still working on the example project and documentation, so thanks for warning.

[2021-11-09 09:05] harkairt commented on #72
Sadly it did not change anything. I get the same error

[2021-11-10 14:14] harkairt opened #74 "Support getLapsByActivityId endpoint"
I'd like to request support for the [getLapsByActivityId](https://developers.strava.com/docs/reference/#api-Activities-getLapsByActivityId) endpoint.

Thank you! :)

[2021-11-10 14:19] dreampowder commented on #74
sure i'll try to add this endpoint asap

[2021-11-10 14:20] #72 closed

[2021-11-10 14:56] harkairt commented on #74
I wasn't expecting such a fast response.
Thank you very much! :)

Now I realized laps are also part of the simple `stravaClient.activities.getActivity(:id)` call. So there are even more ways of accessing it.

[2021-11-10 16:35] harkairt opened #75 "Exception not catched"
How do I catch if some error happens?

I have the following code

[code]

I'd expect to catch some exception here, as I haven't authenticated yet. None of the `debugPrint`s appear, but this does from the package:

[code]

.. if I authenticated then I do get back an activity.

[2021-11-17 12:40] dreampowder commented on #75
hi @harkairt can you please check like this:

`stravaClient.activities.getActivity(6172408801)
.then((activity){....})
.catchError((error, stackTrace){
//Do something with ths error
});`

[2021-11-28 19:14] tczesiu opened #76 "model detailed athlete"
In the DetailedAthlete.fromJson there is a code

clubs: List<SummaryClub>.from(json["clubs"].map((x) => SummaryClub.fromJson(x))),

It should be updated to do the null check, like this

clubs: json["clubs"] == null
              ? <SummaryClub>[]
              : List<SummaryClub>.from(
                  json["clubs"].map((x) => SummaryClub.fromJson(x))),

[2021-11-30 10:05] supermnemonic commented on #72
will that be okay by removing the host?

[2021-12-01 12:32] dreampowder commented on #76
thanks for your feedback.

[2021-12-01 12:32] #76 closed

[2021-12-01 12:36] dreampowder commented on #75
hello , sorry for late response, you can catch the error by adding:

[code]

My initial thought was to return all errors as 'Fault' from the package, but I guess there are cases that I missed implementing

[2021-12-01 12:36] #75 closed

[2021-12-05 09:50] haslinger opened #77 "getLoggedInAthleteActivities in Readme deprecated?"
A huge 'THANK YOU' for taking over the project, @dreampowder !

I guess, the readme is currently out of date, as getLoggedInAthleteActivities to give an example is no longer in the code?
I'm trying to follow the example code, but I don't see, where and how activities can be fetched.

No hurries, I'm just trying to update in a development branch, to be able to test along with the current developmen

[2021-12-06 08:02] yusmi25 opened #78 "get current User and Upload Activity method"
hello @dreampowder, Is there any sample code to get current user when Application startup and example to upload activity.
when I using version ^1.2.2+62 I'm using this code to upload activity and get current User
`
// examples.dart

// Examples to use strava_flutter
import 'dart:async';
import 'dart:io';
import 'package:flutter/services.dart' show rootBundle;
import 'package:path_provider/path_pro

[2021-12-07 20:31] mstreeter24 commented on #78
It looks like there is a bug in the Upload Activity method.  I imported the code locally and fixed it and got it working with my own account.  The main change that needs to be done is in the serialization/deserialization on the UploadActivityRequest object.  They might have updated their property names to be underscore now instead of title case.
These are the corrected serialization/deserializatio

[2021-12-08 09:04] dreampowder commented on #77
hİ @haslinger thanks for your kind words, I am just returning my favor to the open source community :)

as for your question, I guess the relevant api is located in;

[code]

I tried to group all endpoints into their own repositories as stated on strata api page located in here:

[Strava api page](https://developers.strava.com/docs/reference/#api-Activities-getLoggedInAthleteActivities)

[2021-12-08 09:04] #77 closed

[2021-12-08 09:05] dreampowder commented on #78
hi @mstreeter24 first of all thank you!
a pull request with your fix would be a great contribution if you can, if not, can you please attach the modified files in here?

[2021-12-09 02:26] mstreeter24 commented on #78
I tried to push to a bugfix branch, but it says I don't have permission.  Not sure how I go about getting permission, but the code fix is in my first post.  Under domain/model/model_upload_request.dart replace the from and to json functions with:

UploadActivityRequest.fromJson(dynamic json) {
name = json['name'];
description = json['description'];
isTrainerActivity = json['trainer'];
isCommuteAct

[2021-12-19 17:03] #78 closed

[2021-12-21 02:27] yusmi25 commented on #78
hello @mstreeter24 I still get the error when using your code :
[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: Instance of 'Fault'

[2021-12-21 17:18] mstreeter24 commented on #78
@yusmi25 I am guessing you fixed your fault issue since I don't see the message even though I got the email?  My guess is it was unrelated and something to do with payload format or something along those lines.  This is the general flow I use to upload a file.  RecordedRoute is just an object with a list of points that have latitude, longitude, time stamps and altitude.  From there I generate a GP

[2021-12-22 08:19] dreampowder commented on #78
@mstreeter24 I updated the code for UploadActivityRequest serializer. are the any other issue with the code?

[2021-12-26 22:12] sebasArias opened #79 "Updated Example on retreiveing info"
Hi. Is there any updated example for the usage of this package?
There is one on how to authenticate but I think there is missing some further guide on how to get Athlete info, segments,etc.

I would really appreciate any help on this.
Regards,
Sebastian

[2021-12-27 23:30] mstreeter24 commented on #78
@dreampowder There shouldn't be.  That was the only change I made to my local copy to get it working.  I was just giving him an example of how to use the library to get past his Fault issue which was probably related to a badly formatting GPX file.

[2022-02-23 18:03] nikhilmufc7 opened #80 "LateInitializationError: Field 'secret' has already been initialized."
Issue with StravaClient

This happens when the Strava page is not in a one page application, if the user navigates to the page where strava initialization happens -> goes back -> opens the strava page again, I am encountering this issue.

This does not happen on navigating the first time as the initialization is done successfully. But on pop the initialization data is still stored in SessionManage

[2022-02-24 05:52] dreampowder commented on #80
Hi @nikhilmufc7 that looks like an important thing to fix, i will try to fix this asap but i am currently quite busy with my projects. So i'd love to have a pr about this if you can

[2022-03-03 15:15] haslinger opened #81 "Example does not redirect back"
I tried to update my project to latest strava_flutter (from github) and the integration is really a pleasure. But I have i problem:
After I confirm on the authorization screen from Strava, I no longer get redirected. On Chrome, there is a short flicker (maybe a redirect to itself), on Firefox the browser switches to a white page with a link "You are being redirected". That link targets `stravaflut

[2022-03-04 12:41] abhinandanbr commented on #81
Just add below lines in AndroidManifest.xml

[code]

[2022-03-04 15:52] haslinger commented on #81
@abhinandanbr Thank you so much for pointing this out to me, I had the extra line
[code]
in that broke it in my app. Leaving this issue open, as this line should also be removed from the README, I guess?

[2022-03-05 12:28] abhinandanbr commented on #81
@haslinger You are welcome.
Yup. That's the culprit! Needs to be removed.

[2022-03-09 07:52] dreampowder commented on #80
hi there, sorry for late response due to my workload in there days.
i removed the "final" modifier from these values, you shuold be able to update those values from now on.

[2022-03-09 07:53] dreampowder commented on #81
thanks a lot for your feedback. removed that line from documentation

[2022-03-09 07:53] #81 closed

[2022-03-09 07:54] #80 closed

[2022-03-09 08:00] #79 closed

[2022-03-15 07:00] cgorka opened #82 "Get Last activity id ...help needed"
I can't find a way to find the id of the last activity.
Can anyone help

[2022-03-16 11:42] #82 closed

[2022-03-31 10:19] InSomniaMoon opened #83 "pub.dev dependency doens't work"
the dependency can't be added from pub.dev beacause the version works with cupertino isons 0.1.2, whereas flutter now works with cupertino_icons 1.0.2 and higher.

Solution : I downloaded the github project and added it into a "package" folder a the root of my project, and added this in the dependencies in pubsec.yaml :
strava_flutter:
    path: packages/strava_flutter

[2022-03-31 10:23] dreampowder commented on #83
You can use GitHub links form pub.dev like this:

https://stackoverflow.com/questions/54022704/how-to-add-a-package-from-github-in-flutter
On 31 Mar 2022 13:20 +0300, Pierre Leroyer ***@***.***>, wrote:

[2022-04-08 04:12] yusmi25 opened #84 ""Request Failed"error when authenticate"
I get Problem When I load the request using the example
![Screenshot_2022-04-08-10-48-05-153_com strava](https://user-images.githubusercontent.com/60766202/162360692-b259962f-cce6-48e7-8c90-ae9b1bf51afa.jpg)

my Android Manifest :

`
[code]
`
On Strava API "Authorization Callback Domain" ="redirect"
Thank You.

[2022-04-08 04:25] yusmi25 commented on #84
I edit the manifest :
[code]
but when I click Authorize, the app automatic restart and the authentication failed

[2022-04-08 06:34] yusmi25 commented on #84
update: this error on android 10

[2022-05-31 02:57] yusmi25 opened #85 ""strava" links are blocked"
I'm using example code, and get the issue  when I click Authorize and get an error
![Screenshot_20220531-094950_Chrome](https://user-images.githubusercontent.com/60766202/171083675-f3b8466a-e721-4af2-ab56-af83db0d7659.jpg)
Thanks 👍

[2022-06-16 15:34] dreampowder commented on #85
Did you register the url scheme in info.plist or intent in the manifest.xml of android?

[2022-06-16 18:07] seanradford commented on #84
Does anyone have an answer to this issue?

Thanks.